cod/debug.log
\.ipynb_checkpoints
cod/main(28-10-2019).py
cod/main2.py
cod/main.pyc
cod/__pycache__
cod/MechanicalSoup2.py
cod/pruebaoraciones.html
cod/temp.html
cod/tempdictionary.html
cod/test.py
cod/test2.py
cod/test3.py
cod/test4.py
cod/trigrams.dat
cod/unigrams.dat
cod/modelos/
cod/clasificador.pyc
cod/DOC01
cod/EASIERMAIN.ipynb
cod/FastText.pyc
cod/main.py
cod/Multitoken0.7134.sav
cod/Multitoken0.8273.sav
cod/MultitokenLinear0.8292.sav
cod/ParafrasesPruebas.ipynb
cod/Pyphen.pyc
cod/train_file.csv
cod/word2vec.pyc
cod/worddictionary.pyc
E2R/unigram2.data
E2R/unigram2_non_stop_words.csv
fasttxt/cc.es.300.bin
ngrams/Spanish
parafrases
spanish/pequeños
spanish/Spanish_Dev.tsv
w2v/sbw_vectors.bin
settings.py
testseasier.ipynb
/pybabelnet-master
/fasttxt
/cod2
train_file.csv